html {
  font-size: $base-font-size;
}


// BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
// END BOX MODEL SETTINGS


body {
  /*Setting the base font family*/
  font-family: $sans;
  /* font weight normalization */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Responsive Images
img {
  display: block;
  width: 100%;
  height: auto;
}


.clearfix {
  //clearfix
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

// Prevent Superscripts and Subscripts from Affecting Line-Height
// https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}