/*main layout*/
.container{
  background-color: rgba(255, 255, 255, 0.95);
  margin-top: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 25px 50px;
}
.container-secondary{
  margin-top: 0px;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(230, 230, 230, 0.95);
}
body{
  min-height: 100%;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.col{
  padding-left: 80px;
}
h1{
  padding: 20px;
}

/*List Styling*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding-left: 1em;
  text-indent: -.7em;
  padding:10px;
}
li::before {
  content: "• ";
  margin-right: 4px;
}
/*nav-related styles*/
.nav-link, h1, li::before{
  color: #34826c;
}
.nav-link:hover{
  color: #286353;
}
/*media queries*/
@media screen and (max-width:768px) {
  .nav-link{
    margin: auto;
  }
  .container, .col{
    margin: auto;
    padding: 25px;
  }
}
