// Colors
$dark-blue: #0d2d6c;
$light-blue: #68cef2;
$magenta: #b7006a;
$green: #cbdb2f;
$yellow: #eff4c1;
$gray: #84898c;
$lgray: hsl(0, 0%, 81%);
$llgray: hsl(0, 0%, 92%);
$almost-black: #343741;

// Aliases
// It's recommended you use these in your styles, so you can easily change out colors if needed
$main: $dark-blue;
$secondary: $light-blue;
$clickable: $magenta;
$highlight: $green;
$highlight-bg: $yellow;
$text: $almost-black;