.container h1 {
    color: #4ecdc4;
    mix-blend-mode: multiply;
    margin: auto;
    font-family: 'Fascinate', sans-serif;

    font-size: 91px;

    &:after {
        content: "HANNAH";
        margin-left: -353px;
        color: #fe938c;
        mix-blend-mode: multiply;
    }
}

.container p {
    margin: auto;
    text-align: center;
    color: #4c7669;
    font-weight: 900;
    font-family: 'Raleway', sans-serif; 
}

.container {
    margin: auto;
    align-self: center;
}