input[type='search'],
input[type='text'],
input[type='email'],
input[type='phone'],
input[type='state'],
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em 0.666em;
  color: $text;
  font-family: inherit;
  font-size: 1rem; // needs to be at least 16px to avoid iOS zooming
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type='checkbox'] {
  display: none;

  & + label {
    display: flex;
    align-items: center;
    font-size: 1em;
  }

  & + label::before {
    flex: 0 0 auto;
    content: '';
    display: block;
    background-color: rgba(white, 0.8);
    border: 1px solid $lgray;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    height: 1.875em;
    width: 1.875em;
    margin: 0 $global-padding/2 0 0;
    position: relative;
    top: 0;
  }

  &:checked {
    & + label::before {
      background-image: svg-uri('<svg width="24px" height="24px" viewBox="0 0 21 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Group-5" transform="translate(1.000000, 2.000000)" stroke="#424143" stroke-width="3">
        <path d="M0.513513514,0 L18.6677568,17.6775" id="Stroke-1"></path>
        <path d="M18.4120784,0.25285 L0.256808108,17.92985" id="Stroke-3"></path></g></g></svg>');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}